<p style="color: green"><%= notice %></p>

<% content_for :title, "Articles" %>

<h1>Articles</h1>

<div id="admin_articles">
  <% @admin_articles.each do |admin_article| %>
    <%= render admin_article %>
    <p>
      <%= link_to "Show this article", admin_article %>
    </p>
  <% end %>
</div>

<%= link_to "New article", new_admin_article_path %>
