<h1>New Article Submission</h1>
<p><strong>Title:</strong> <%= @admin_article.content.title %></p>
<p><strong>Description:</strong> <%= @admin_article.content.description %></p>
<p><strong>Photo:</strong> <%= @admin_article.content.photo.filename %></p>
